<!-- FOOTER -->
<footer>
    <ul class="w-fit flex flex-row gap-2 lg:gap-4 px-2">
        <li><f:link.page data-ajax-url="{f:uri.page(pageType: 20263, pageUid: 29)}" pageUid="29" class="transition opacity-70 hover:opacity-100" href="/impressum">Impressum</f:link.page></li>
        <li><f:link.page data-ajax-url="{f:uri.page(pageType: 20263, pageUid: 30)}" pageUid="30" class="transition opacity-70 hover:opacity-100" href="/datenschutzerklaerung">Datenschutzerklärung</f:link.page></li>
        <li><a class="transition opacity-70 hover:opacity-100" href="/cookies">Cookies</a></li>
    </ul>
</footer>

<!-- back to top -->
<button class="toggleDarkMode" onclick="toggleDarkMode()">
    <svg><use xlink:href="#icon-modeToggler"></use></svg>
</button>