<main>
  <!-- NAVIGATION -->
  <div class="fixed z-30 bottom-0 left-0 w-full lg:static lg:order-1 py-1 lg:py-0 lg:w-fit lg:px-4 lg:pr-3">
    <div class="grid lg:hidden w-full grid-cols-7">
      <div class="bg-category1 h-1"></div>
      <div class="bg-category2 h-1"></div>
      <div class="bg-category3 h-1"></div>
      <div class="bg-category4 h-1"></div>
      <div class="bg-category5 h-1"></div>
      <div class="bg-category6 h-1"></div>
      <div class="bg-category7 h-1"></div>
    </div>
    <div class="flex lg:flex-col bg-primary pt-5 pb-10 lg:py-0 lg:gap-4 mainnav">
    <f:for each="{topCategories}" as="topCat">
      <f:link.action action="list" arguments="{categoryUid: topCat.uid}" title="{topCat.title}" id="catnav_{topCat.uid}">
        <span class="bg-category{topCat.uid}">
          <svg fill="none" class="fill-white"><use xlink:href="#icon-cat{topCat.uid}-inactive"></use></svg>
        </span>
        <span>{topCat.title}</span>
      </f:link.action>
    </f:for>
    </div>
  </div>
  <!-- INHALT -->
  <div class="overflow-hidden bg-bottom lg:bg-bottom-right bg-no-repeat bg-cover lg:bg-contain lg:rounded-2xl
    bg-[url(https://www.hisnulmuslim.de/fileadmin/HisnulMuslim/Hintergruende/0_STARTSEITE.jpg)] bg-white
    lg:bg-[url(https://www.hisnulmuslim.de/fileadmin/HisnulMuslim/Hintergruende/0_STARTSEITE_XL.jpg)]
    lg:ml-5 w-full h-full relative order-1 lg:order-2" id="inhaltcontainer">
    <div class="bg-linear-to-b lg:bg-linear-to-r
      from-neutral-200/70 to-neutral-300/70 lg:from-neutral-300/60 lg:to-neutral-200/10
      dark:from-neutral-900/95 dark:to-neutral-900/80 
      w-full h-full">
      <div class="px-10 py-7 lg:p-15">
        <h1 class="text-4xl lg:text-6xl mb-4 lg:mb-12 font-light tracking-tight text-hm_primary leading-none">Die Hisnul Muslim App -<br class="hidden sm:inline" /> das Original, neu gedacht.</h1>
        <span class="text-base lg:text-xl text-primary">Alle Bittgebete aus dem klassischen Hisnul Muslim,<br class="hidden sm:inline" /> neu kategorisiert für einfachen Zugang.</span>
      </div>
    </div>
  </div>
</main>