<style type="text/tailwindcss">
    /* BODY {
        @apply bg-neutral-50;
    } */
	main {
		/* @apply bg-[{category.color}]/10; */
		@apply bg-no-repeat bg-cover bg-center;
	}
	#app_category_1 {
		@apply bg-[url(https://webza.dev/fileadmin/HisnulMuslim/Hintergruende/01_0000s_0000_Gemini_Generated_Image_7dni3h7dni3h7dni_Kopiek.jpg)];
	}
	#app_category_2 {
		@apply bg-[url(https://webza.dev/fileadmin/HisnulMuslim/Hintergruende/bg_gebet.png)];
	}
	#app_category_3 {
		@apply bg-[url(https://webza.dev/fileadmin/HisnulMuslim/Hintergruende/Reisen.jpeg)];
	}
	#app_category_4 {
		@apply bg-[url(https://webza.dev/fileadmin/HisnulMuslim/Hintergruende/Schutz.jpeg)];
	}
	#app_category_5 {
		@apply bg-[url(https://webza.dev/fileadmin/HisnulMuslim/Hintergruende/Hilfe.jpeg)];
	}
	/* #app_category_6 {
	} */
	#app_category_7 {
		@apply bg-[url(https://webza.dev/fileadmin/HisnulMuslim/Hintergruende/01_0000s_0001_IMG_0033_Kopieh.jpg)];
	}
	.tx-hisnulmuslim-app {
		@apply bg-[{category.color}]/10;
		@apply w-full min-h-screen xl:w-2/3 mx-auto pt-18 pb-20;
	}
	.tx-hisnulmuslim-app-subcats {
		@apply h-full;
	}
	.tx-hisnulmuslim-app-subcat {
		@apply bg-white/90 my-3 mx-7 shadow-lg rounded-md;
	}
	.catnav > a {
		@apply border-t-2 border-neutral-200;
	}
	#catnav_{category.uid}{
		@apply border-[{category.color}];
	}
	.catnav .navtext {
		@apply text-sm;
		/* @apply hidden; */
	}
</style>

<!-- MOBILE MENU -->
<div id="drawer-navigation" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-64" tabindex="-1" aria-labelledby="drawer-navigation-label">
    <div class="w-full px-2">
		<div class="flex flex-col items-center w-full">
			<a class="flex items-center w-full h-12 px-3 mt-2 rounded bg-neutral-100" href="#">
				<img class="w-6 h-6 fill-current" src="https://webza.dev/fileadmin/HisnulMuslim/Logo/logo.svg" />
				<span class="ml-3 font-medium">Hisnul Muslim</span>
			</a>
			<a class="flex items-center w-full h-12 px-3 mt-2 rounded" href="#">
				<img class="w-6 h-6 fill-current" src="https://webza.dev/fileadmin/HisnulMuslim/Icons/00-inactive.png" />
				<span class="ml-3 text-neutral-700 font-medium">Favoriten</span>
			</a>
			<a class="flex items-center w-full h-12 px-3 mt-2 rounded" href="#">
				<img class="w-6 h-6 fill-current" src="https://webza.dev/fileadmin/HisnulMuslim/Icons/001-inactive.png" />
				<span class="ml-3 font-medium">Info</span>
			</a>
		</div>
    </div>
</div>

<header class="fixed z-30 shadow top-0 w-full bg-white">
	<button type="button" id="mobilemenu_opener" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation" class="flex items-center justify-center fixed top-6 left-4">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
		</svg>
		<span class="sr-only">Open actions menu</span>
	</button>
	<button type="button" id="search_close" class="hidden flex items-center justify-center fixed top-6 left-4">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
		</svg>
		<span class="sr-only">Close search</span>
	</button>
	<div class="flex justify-between items-center py-5 pl-12 pr-7">
		<h1 class="font-semibold text-2xl text-[{category.color}]">{category.title}</h1>
		<input class="hidden w-full text-gray-700 leading-tight focus:outline-none py-1" id="searchfield" type="text" placeholder="Bittgebete durchsuchen" />
		<div class="pl-auto my-1" id="search_open">
			<svg class="fill-current text-gray-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<path class="heroicon-ui" d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
			</svg>
		</div>
	</div>
</header>

<main class="w-full" id="app_category_{category.uid}">
	<!-- UNTERKATEGORIEN LIST -->
	<div class="tx-hisnulmuslim-app">
		<div class="tx-hisnulmuslim-app-subcats">
		<f:for each="{subcategories}" as="subcat">
			<div class="tx-hisnulmuslim-app-subcat">
				<h2 class="font-semibold mt-5 px-5 pt-3 pb-1">{subcat.subcategory.title}</h2>
				<ul class="divide-y divide-neutral-200 px-5 font-normal text-sm">
					<f:for each="{subcat.chapters}" as="chapter">
						<li>
							<f:link.action action="show" class="py-3 flex justify-between items-center" arguments="{chapter: chapter}">
								<span class="flex-1 pr-2">{chapter.title}</span>
								<svg class="w-5 h-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
								</svg>
							</f:link.action>
						</li>
					</f:for>
				</ul>
			</div>
		</f:for>
		</div>
	</div>

	<!-- KATEGORIEN MENU -->
	<div class="fixed bottom-0 left-0 z-20 w-full h-fit bg-white">
		<div class="grid h-full max-w-lg grid-cols-7 mx-auto font-medium catnav">
		<f:for each="{topCategories}" as="topCat">
			<f:link.action action="list" arguments="{categoryUid: topCat.uid}" id="catnav_{topCat.uid}"
					class="inline-flex flex-col items-center justify-center px-4 py-3 cursor-pointer group 
					{f:if(condition: '{topCat.uid} == {activeCategoryUid}', then: 'opacity-100', else: 'opacity-40 hover:opacity-100')}">
				<f:if condition="{topCat.icon}">
					<f:image image="{topCat.icon.0}" width="32" height="32" alt="{topCat.title}" />
				</f:if>
				<span class="text-[{topCat.color}] text-nowrap navtext">{topCat.title}</span>
			</f:link.action>
		</f:for>
		</div>
	</div>
</main>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>