<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<!-- Kein Layout für Ajax - nur reiner Content -->
<div class="tx-hisnulmuslim-ajax-content">
    <f:if condition="{chapter}">
        <div class="chapter-header">
            <div class="chapter-breadcrumb">
                <f:if condition="{chapter.categories.0}">
                    <span class="breadcrumb-item">{chapter.categories.0.title}</span>
                    <svg stroke-width="3" fill="none" class="breadcrumb-separator size-3 stroke-current inline-block mx-2">
                        <use xlink:href="#icon-right"></use>
                    </svg>
                </f:if>
            </div>
            <h3 class="chapter-title">{chapter.title}</h3>
        </div>
    </f:if>

    <f:if condition="{chapter.dua}">
        <f:then>
            <div class="tx-hisnulmuslim-app-show-dua" id="app_category_{chapter.categories.0.uid}" data-catUid="{chapter.categories.0.uid}" data-chapter-uid="{chapter.uid}">
                <f:for each="{chapter.dua}" as="dua">
                    <article class="tx-hisnulmuslim-app-subcat" data-dua-uid="{dua.uid}">
                        <div class="nummerierung">{chapter.chapterId} / {dua.duaId}</div>
                        <ul class="divide-y px-5 py-2 font-normal text-sm">
                            <f:for each="{itemsByDua.{dua.uid}}" as="item">
                                <li data-dua-item-uid="{item.uid}" data-dua-item-type="{item.type}">
                                    {item.content -> f:format.raw()}
                                </li>
                            </f:for>
                        </ul>
                    </article>
                </f:for>
            </div>
        </f:then>
        <f:else>
            <p class="no-duas">Keine Bittgebete in diesem Kapitel gefunden.</p>
        </f:else>
    </f:if>
</div>

</html>