<style type="text/tailwindcss">
    .tx-hisnulmuslim-duaitem-dua_translation {
        @apply font-semibold py-4 px-6 text-lg;
    } 
    .tx-hisnulmuslim-duaitem-dua {
        @apply bg-slate-100 p-5 rounded-xl font-serif text-4xl text-right leading-12;
    }
    .tx-hisnulmuslim-duaitem-dua_umschrift {
        @apply bg-neutral-100 p-5 rounded-xl text-neutral-700 text-sm;
    }
</style>

<div class="tx-hisnulmuslim-show bg-neutral-200">
    <div class="w-full xl:w-2/3 mx-auto p-5">
        <h1 class="font-semibold text-2xl my-8">{chapter.title}</h1>
        <f:for each="{chapter.dua}" as="dua">
        <div class="tx-hisnulmuslim-dua my-10 bg-white rounded-xl h-full grid gap-y-4 p-4">
            <f:for each="{dua.items}" as="item">
                <div class="tx-hisnulmuslim-duaitem-{item.type}">{item.content -> f:format.raw()}</div>
            </f:for>
        </div>
        </f:for>
    </div>
</div>