<div class="tx-hisnulmuslim-list w-fit mx-auto p-10">
    <h1 class="font-semibold text-4xl my-10">Inhaltsverzeichnis</h1>

    <div class="border-1 border-neutral-300">
		<table class="w-full text-left table-auto min-w-max">
			<thead class="text-xs text-gray-700 uppercase bg-gray-200">
				<tr>
					<th class="px-4">
						<p class="block font-sans text-sm antialiased font-semibold leading-none text-neutral-700">#</p>
					</th>
					<th class="p-4">
						<p class="block font-sans text-sm antialiased font-semibold leading-none text-neutral-700">Titel</p>
					</th>
					<th class="p-4">
						<p class="block font-sans text-sm antialiased font-semibold leading-none text-neutral-700">Kategorie</p>
					</th>
					<th class="p-4">
						<p class="block font-sans text-sm antialiased font-semibold leading-none text-neutral-700">Unterkategorie</p>
					</th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{chapters}" as="chapter">
				<tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
					<td class="px-4 py-2">
						{chapter.chapterId}
					</td>
					<td class="px-4 py-2">
						<f:link.action action="show" arguments="{chapter: chapter}">{chapter.title}</f:link.action>
					</td>
					<td class="px-4 py-2">
						{chapter.categories.0.title}
					</td>
					<td class="px-4 py-2">
						{chapter.categories.1.title}
					</td>
				</tr>
				</f:for>
			</tbody>
		</table>
	</div>
</div>