<div class="tx-hisnulmuslim-list">
    <h1>Inhaltsverzeichnis:</h1>
    <f:debug>{chapters}</f:debug>

    <div class="m-6 border-1 border-neutral-300">
  	<table class="w-full text-left table-auto min-w-max">
		<thead class="text-xs text-gray-700 uppercase bg-gray-200">
			<tr>
				<th class="px-4">
					<p class="block font-sans text-sm antialiased font-semibold leading-none text-neutral-700">#</p>
				</th>
				<th class="p-4">
					<p class="block font-sans text-sm antialiased font-semibold leading-none text-neutral-700">Titel</p>
				</th>
				<th class="p-4">
					<p class="block font-sans text-sm antialiased font-semibold leading-none text-neutral-700">Kategorie</p>
				</th>
				<th class="p-4">
					<p class="block font-sans text-sm antialiased font-semibold leading-none text-neutral-700">Unterkategorie</p>
				</th>
			</tr>
		</thead>
		<tbody>
            <f:for each="{chapters}" as="chapter">
            <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
                <td class="px-4 py-2">
                    {chapter.chapterId}
                </td>
                <td class="px-4 py-2">
                    <f:link.action action="show" arguments="{chapter: chapter}">{chapter.title}</f:link.action>
                </td>
                <td class="px-4 py-2"></td>
                <td class="px-4 py-2"></td>
            </tr>
            </f:for>
		</tbody>
	</table>
</div>
</div>