<div class="tx-hisnulmuslim-list w-full xl:w-2/3 mx-auto p-5">
    <h1 class="font-semibold text-4xl my-10">Nach Kategorien</h1>
    <f:debug>{categories}</f:debug>

    <div class="border-1 border-neutral-300">
  	<table class="w-full text-left table-auto min-w-max">
		<thead class="text-xs text-gray-700 uppercase bg-gray-200">
			<tr>
				<th class="px-4">
					<p class="block font-sans text-sm antialiased font-semibold leading-none text-neutral-700">#</p>
				</th>
				<th class="p-4">
					<p class="block font-sans text-sm antialiased font-semibold leading-none text-neutral-700">Titel</p>
				</th>
				<th class="p-4">
					<p class="block font-sans text-sm antialiased font-semibold leading-none text-neutral-700">Kategorie</p>
				</th>
				<th class="p-4">
					<p class="block font-sans text-sm antialiased font-semibold leading-none text-neutral-700">Unterkategorie</p>
				</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
</div>